html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.box {
	width: 16.6%;
	height: 100%;
	margin:0px;
	float: left;
}
#one {
	background-color: red;
}

#two {
	background-color: orange;
}

#three {
	background-color: yellow;
}

#four {
	background-color: green;
}

#five {
	background-color: blue;
}

#six {
	background-color: violet;
}