.class-20 {
 font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px;color: #ffccff;
}
.class-30 {
 font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:30px;color: #ffccff;
}
.class-45 {
 font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:30px;color: #ffccff;
}
.class-18 {
 font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:18px;color: #ffccff;
}

