.class-20 {
 	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
 	font-size:20px;
	color: #ffccff;
}
.class-30 {
 	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
 	font-size:30px;
 	color: #ffccff;
}
.class-45 {
	 font-family: Futura, "Trebuchet MS", Arial, sans-serif;
 	font-size:30px;
 	color: #ffccff;
}
.class-18 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
 	font-size:18px;
 	color: #ffccff;
}
#idtired {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size:20px;
	color: rgb(162, 191, 205,1);
}
#idtired1 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size:20px;
	color: rgb(162, 191, 205,.9);
}
#idtired2 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size:20px;
	color: rgb(162, 191, 205,.8);
}
#idtired3 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size:20px;
	color: rgb(162, 191, 205,.7);
}
#idtired4 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size:20px;
	color: rgb(162, 191, 205,.6);
}
#idtired5 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size:20px;
	color: rgb(162, 191, 205,.5);
}
#idtired6 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size:20px;
	color: rgb(162, 191, 205,.4);
}
#idtired7 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size:20px;
	color: rgb(162, 191, 205,.3);
}
#idtired8 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size:20px;
	color: rgb(162, 191, 205,.2);
}
#idtired9 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size:20px;
	color: rgb(162, 191, 205,.1);
}
#idtired10 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size:20px;
	color: rgb(162, 191, 205,.05);
}
.classpadding50 {
	padding: 50px;
	border: outset;
}